<section class="h-100vh gradient-demo bg-gradient-home" id="home">
    <div class="home-table">
        <div class="home-table-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-white text-center">
                            <div class="small_title">
                                <p class="text-uppercase mb-0">Digital Agency</p>
                            </div>
                            <h1 class="header_title mx-auto mt-3 mb-0 font-weight-bold">Digital Agnecy <span class="font-300">&amp; Solution.</span></h1>
                            <p class="header_subtitle mx-auto pt-4 mb-0 pb-2 text-white">It is a long established fact that a reader will be distracted by the readable content layout readable English.</p>
                            <div class="header_btn mt-3">
                                <a href="#" class="btn btn-white btn-rounded mr-3">Get Started</a>
                                <span class="mr-3">or</span>
                                <a href="https://www.youtube.com/watch?v=0Xr8uAZvqlc" class="mr-3 text-white learn_more video_home"><i class="mdi mdi-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="col-lg-5 offset-lg-7 skill_img_bg">
                &nbsp;
            </div>
            <div class="col-lg-7 skill-gradient text-white">
                <div class="services_bg_pad">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="section_title">
                                <p class="small_title mb-1 text-white text-uppercase">We are a creative agency</p>
                                <h2 class="text-capitalize section_header">We love what we do &amp; we do it with passion!</h2>
                                <div class="section_title_border">
                                    <div class="f-border bg-white"></div>
                                    <div class="f-border bg-white"></div>
                                    <div class="s-border bg-white"></div>
                                    <div class="f-border bg-white"></div>
                                    <div class="f-border bg-white"></div>
                                </div>
                                <p class="sec_subtitle pt-3 pb-0 text-white">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.</p>
                            </div>                                    
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-8">
                            <div class="progress-bars skill-custom mt-3">
                                <div class="clearfix">
                                    <div class="text-white float-left">Development</div>
                                    <div class="text-white float-right">80%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="text-white float-left">Photoshop</div>
                                    <div class="text-white float-right">88%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="text-white float-left">WebDesing</div>
                                    <div class="text-white float-right">98%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 98%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="text-white float-left">WebDevlopment</div>
                                    <div class="text-white float-right">76%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 76%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="pt-3">
                                <a href="#" class="btn btn-white text-uppercase">Read More <i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</section>