<div class="main-container">
    <section class="text-center height-50">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <h1>Oi, nós somos a Joplins!</h1>
                    <p class="lead">
                        Uma plataforma para quem deseja anunciar suas vagas e para aqueles que buscam por uma oportunidade de emprego.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="process-1">
                        <div class="process__item">
                            <h4>Missão</h4>
                            <img alt="Image" src="https://raw.githubusercontent.com/LeonardoCorreiaGon/Joplins-Front/Patricia/src/assets/img/mission.jpg" class="border--round">
                            <p>
                                    Buscamos ser empresa de referência na área de recrutamento, seleção e capacitação, reconhecida a nível nacional. Além de oferecer melhor proposta para colaboradores, clientes, empresas e investidores, queremos proporcionar aos nossos usuários 
                                    uma experiência de crescimento profissional e pessoal.
                            </p>
                        </div>
                        <div class="process__item">
                            <h4>Visão</h4>
                            <img alt="Image" src="assets/img/education-3.jpg" class="border--round">
                            <p>
                                Para a Joplins, a educação é o melhor caminho para abrir novas e melhores oportunidades. Por isso, em parceria com profissionais de diversas áreas, oferecemos cursos técnicos e profissionalizantes para você conquistar a vaga dos sonhos! 
                                E tudo isso de forma prática, pelo seu celular ou computador, e 100% gratuita para que o conhecimento e as melhores vagas estejam ao alcance de todos.
                            </p>
                        </div>
                        <div class="process__item">
                            <h4>Valores</h4>
                            <img alt="Image" src="https://raw.githubusercontent.com/LeonardoCorreiaGon/Joplins-Front/Patricia/src/assets/img/valores.jpg" class="border--round">
                            <p>Só é bom para nós se for bom para o cliente.</p>
                            <p>Simples, sempre.</p>
                            <p>Gente é tudo para a gente.</p>
                            <p>Ética é inegociável.</p>
                            <p>Fanáticos por perfomance.</p>
                            <p>Pensamos e agimos como Líderes.</p>
                        </div>
                    </div>
                    <!--end process-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="cta">
                        <h2>Nós acreditamos em você!</h2>
                        <p class="lead">
                            Invista no conhecimento e aumente as suas chances! Se cadastre para realizar cursos e acessar vagas diaramente! É gratuito :)
                        </p>
                        <a class="btn btn--primary-2 type--uppercase" href="/registrar">
                            <span class="btn__text">
                                Cadastre-se!
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>