<section class="h-100vh gradient-demo bg-gradient-home" id="home">
    <div class="home-table">
        <div class="home-table-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-white text-center">
                            <div class="small_title">
                                <p class="text-uppercase mb-0">Digital Agency</p>
                            </div>
                            <h1 class="header_title mx-auto mt-3 mb-0 font-weight-bold">Digital Agnecy <span class="font-300">&amp; Solution.</span></h1>
                            <p class="header_subtitle mx-auto pt-4 mb-0 pb-2 text-white">It is a long established fact that a reader will be distracted by the readable content layout readable English.</p>
                            <div class="header_btn mt-3">
                                <a href="#" class="btn btn-white btn-rounded mr-3">Get Started</a>
                                <span class="mr-3">or</span>
                                <a href="https://www.youtube.com/watch?v=0Xr8uAZvqlc" class="mr-3 text-white learn_more video_home"><i class="mdi mdi-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-funfact">
    <div class="container">
        <div class="row vertical-content" id="counter2">
            <div class="col-lg-6">
                <div class="section_title mt-3">
                    <p class="small_title mb-1 text-custom text-uppercase">Our Expereince</p>
                    <h2 class="font-weight-bold section_header">We have compaleted <span class="features_count text-custom" data-count="1451">1451</span> <span class="text-custom">+</span> Project Successfully.</h2>
                    <div class="section_title_border">
                        <div class="f-border"></div>
                        <div class="f-border bg-custom"></div>
                        <div class="s-border"></div>
                        <div class="f-border bg-custom"></div>
                        <div class="f-border"></div>
                    </div>
                    <p class="sec_subtitle pt-3 text-muted">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime The standard chunk of those interested.</p>
                    <a href="#" class="btn btn-gradient mt-2">Start A Project</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="project_count mt-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="text-center bg-gradient position-relative text-white lan_funfact p-5 mt-3">
                                <div class="fun_effect"></div>
                                <h1 class="features_count mb-1 font-weight-bold mt-4" data-count="1000000">1000000</h1>
                                <p class="lan_fun_name text-white mb-4">Working Hours</p>
                            </div>
                            <div class="text-center bg-white lan_funfact p-5 mt-3">
                                <h1 class="features_count mb-1 font-weight-bold mt-4" data-count="1849">1849</h1>
                                <p class="lan_fun_name text-muted mb-4">No. of Clients</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-center bg-white lan_funfact active p-5 mt-3">
                                <div class="fun_effect_light"></div>
                                <h1 class="features_count mb-1 font-weight-bold mt-4" data-count="1451">1451</h1>
                                <p class="lan_fun_name text-muted mb-4">Completed Projects</p>
                            </div>
                            <div class="text-center bg-gradient position-relative lan_funfact text-white p-5 mt-3">
                                <div class="fun_effect"></div>
                                <h1 class="mb-1 font-weight-bold mt-4"><span class="features_count" data-count="124">124</span> <span>+</span> </h1>
                                <p class="lan_fun_name text-white mb-4">Team Member</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="col-lg-5 offset-lg-7 skill_img_bg">
                &nbsp;
            </div>
            <div class="col-lg-7 skill-gradient text-white">
                <div class="services_bg_pad">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="section_title">
                                <p class="small_title mb-1 text-white text-uppercase">We are a creative agency</p>
                                <h2 class="text-capitalize section_header">We love what we do &amp; we do it with passion!</h2>
                                <div class="section_title_border">
                                    <div class="f-border bg-white"></div>
                                    <div class="f-border bg-white"></div>
                                    <div class="s-border bg-white"></div>
                                    <div class="f-border bg-white"></div>
                                    <div class="f-border bg-white"></div>
                                </div>
                                <p class="sec_subtitle pt-3 pb-0 text-white">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.</p>
                            </div>                                    
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-8">
                            <div class="progress-bars skill-custom mt-3">
                                <div class="clearfix">
                                    <div class="text-white float-left">Development</div>
                                    <div class="text-white float-right">80%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="text-white float-left">Photoshop</div>
                                    <div class="text-white float-right">88%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="text-white float-left">WebDesing</div>
                                    <div class="text-white float-right">98%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 98%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="text-white float-left">WebDevlopment</div>
                                    <div class="text-white float-right">76%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 76%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="pt-3">
                                <a href="#" class="btn btn-white text-uppercase">Read More <i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</section>