<div class="main-container">
    <section class="switchable switchable--switch space--xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="height-50 imagebg border--round" data-overlay="2">
                        <div class="background-image-holder" id="cursohead" style="background: url(&quot;assets/img/landing-22 - Copia.jpg&quot;); opacity: 1;">
                            <img alt="background" src="assets/img/landing-22 - Copia.jpg">
                        </div>
                        <div class="pos-vertical-center col-md-6 col-lg-5 pl-5">
                            <h2>Cursos</h2>
                            <p class="lead">
                                    Os cursos ficarão disponíveis em sua conta e você poderá
                                    continuar as aulas quando desejar. Ao fim de cada curso, um certificado ficará registrado em seu perfil para que as
                                    empresas possam saber sobre as suas qualificações.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="space--sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="masonry">
                        <div class="masonry-filter-container row justify-content-center align-items-center">
                            <span>Categorias:</span>
                            <div class="masonry-filter-holder">
                                <div class="masonry__filters" data-filter-all-text="All Categories"><ul><li class="active" data-masonry-filter="*"> Todas Categorias</li><li data-masonry-filter="accessories">Accessories</li><li data-masonry-filter="audio">Audio</li><li data-masonry-filter="computing">Computing</li><li data-masonry-filter="creative">Creative</li></ul></div>
                            </div>
                        </div>
                        <div class="masonry__container row masonry--active" style="position: relative; height: 1516.85px;">
                            <div class="masonry__item col-md-4" style="position: absolute; left: 0px; top: 0px;"></div>
                            <div class="masonry__item col-md-4 filter-audio" data-masonry-filter="Humanas" style="position: absolute; left: 0px; top: 0px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_adm.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Administração</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-accessories" data-masonry-filter="Exatas" style="position: absolute; left: 380px; top: 0px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_arq.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Arquitetura & Urbanismo</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-audio" data-masonry-filter="Humanas" style="position: absolute; left: 760px; top: 0px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso - com2.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Comunicação</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-accessories" data-masonry-filter="Exatas" style="position: absolute; left: 380px; top: 375px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_cont_calculate.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Contabilidade</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-accessories" data-masonry-filter="Exatas" style="position: absolute; left: 760px; top: 375px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_design.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Design</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-audio" data-masonry-filter="Humanas" style="position: absolute; left: 0px; top: 388px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_direito.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Direito</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-audio" data-masonry-filter="Humanas" style="position: absolute; left: 380px; top: 751px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_educacao.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Educação e Pedagogia</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-audio" data-masonry-filter="Humanas" style="position: absolute; left: 760px; top: 751px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_log.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Logística e Operações</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-audio" data-masonry-filter="Humanas" style="position: absolute; left: 0px; top: 764px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_marketing.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Marketing e Vendas</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-audio" data-masonry-filter="Humanas" style="position: absolute; left: 380px; top: 1127px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_moda.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Moda</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-audio" data-masonry-filter="Saúde" style="position: absolute; left: 760px; top: 1127px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_saude.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>Saúde</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 filter-creative" data-masonry-filter="Tecnologia" style="position: absolute; left: 0px; top: 1140px;">
                                <div class="product">
                                    <a href="#">
                                        <img alt="Image" class="curso" src="assets/img/curso_ti.jpg">
                                    </a>
                                    <a class="block" href="#">
                                        <div>
                                            <h5>T.I</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end item-->
                        </div>
                        <!--end masonry container-->
                    </div>
                    <!--end masonry-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>