<section class="switchable bg--secondary">

     <div class="container">

          <div class="row">

               <div class="col-md-6 col-lg-7">

                    <div class="mt--0">

                         <div [ngClass]="[animate_a]">

                              <h2 class="mb--0">Formulário de Cadastro.</h2>

                              <hr>

                              <p class="lead">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis illo quisquam
                                   provident?
                                   Dolorem molestiae consequatur sunt consectetur.
                              </p>

                              <hr class="short">

                              <!-- <div class="type--center"> -->

                              <a class="btn" (click)="formGo(1)">
                                   <span class="btn__text">Empresa</span>
                              </a>

                              <!-- <br> -->


                              <a class="btn btn--primary-2" (click)="formGo(2)"
                                   style="margin-left: 2%">
                                   <span class="btn__text">Candidato</span>
                              </a>

                              <!-- </div> -->

                         </div>

                         <!-- EMPRESA -->
                         <div [ngClass]="[animate_b]">

                              <div class="form">

                                   <h3 class="mb--0">Formulário de Empresa.</h3>
                                   
                                   <div *ngIf="errors.error == true">
                                        <p style="color:red;"> {{errors.message}} </p>
                                   </div>

                                   <input type="text" 
                                             [(ngModel)]="form_company.name" placeholder="Nome da Empresa">

                                   <input type="email" 
                                             [(ngModel)]="form_company.email" placeholder="E-mail">

                                   <input type="text" 
                                             [(ngModel)]="form_company.cnpj_or_mei" placeholder="Apelido do Responsável">

                                   <input type="number" 
                                             [(ngModel)]="form_company.responsible_account" placeholder="CPNJ ou MEI">

                                   <input type="text" 
                                             [(ngModel)]="form_company.area" placeholder="Área">

                                   <input type="number" 
                                             [(ngModel)]="form_company.company_employees" placeholder="Qtd funcionários">

                                   <input type="text" 
                                             [(ngModel)]="form_company.description" placeholder="Descrição">

                                   <input type="text" 
                                             [(ngModel)]="form_company.company_site" placeholder="Website">

                                   <input type="text" 
                                             [(ngModel)]="form_company.address" placeholder="Endereço">

                                   <input type="tel" 
                                             [(ngModel)]="form_company.tel" placeholder="Telefone de contato">

                                   <a class="btn btn--primary-2 mt-3" (click)="registerCompany()" style="width: 100%">
                                        <span class="btn__text">Criar Conta</span>
                                   </a>

                                   <span class="type--fine-print p-1" style="width: 100%">Ao se cadastrar, você concorda com os
                                        <a href="#">Termos e Serviços</a>
                                   </span>

                                   <a class="btn btn--sm mt-1" (click)="formGo(3)" style="width: 100%">
                                        <span class="btn__text">Voltar</span>
                                   </a>

                              </div>

                         </div>

                         <!-- CANDIDATO -->
                         <div [ngClass]="[animate_c]">

                              <div class="form">

                                   <h3 class="mb--0">Formulário de Candidato.</h3>

                                   <div *ngIf="errors.error == true">
                                        <p style="color:red;"> {{errors.message}} </p>
                                   </div>

                                   <input type="text" 
                                             [(ngModel)]="form_user.name" placeholder="Primeiro nome">

                                   <input type="text" 
                                             [(ngModel)]="form_user.last_name" placeholder="Sobrenome">

                                   <input type="email" 
                                             [(ngModel)]="form_user.email" placeholder="E-mail">

                                   <input type="password" 
                                             [(ngModel)]="form_user.password" placeholder="Senha">

                                   <input type="date" 
                                             [(ngModel)]="form_user.birth_date" placeholder="Data de nascimento">

                                   <a class="btn btn--primary-2 mt-3" (click)="registerUser()" style="width: 100%">
                                        <span class="btn__text">Criar Conta</span>
                                   </a>

                                   <span class="type--fine-print p-1" style="width: 100%">Ao se cadastrar, você concorda com os
                                        <a href="#">Termos e Serviços</a>
                                   </span>

                                   <a class="btn  btn--sm mt-2" (click)="formGo(3)" style="width: 100%">
                                        <span class="btn__text">Voltar</span>
                                   </a>     

                              </div>

                         </div>

                    </div>
               </div>

               <div class="col-md-6 col-lg-5">
                    <img alt="Image" class="border--round box-shadow-wide" src="assets/img/photography-9.jpg">
               </div>

          </div>

     </div>

</section>