<div class="main-container">
    <section class="text-center height-50">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <h1>Vamos conversar?</h1>
                    <p class="lead">
                        Queremos te ouvir! Tem dúvidas, sugestões ou elogios? Mande uma mensagem para nós!
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
            <canvas id="granim-0"
                width="1440" height="600"></canvas>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-5">
                        <form class="form-email"
                            data-success="Obrigado! Entraremos em contato."
                            data-error="Por favor, preencha corretamente os campos" novalidate="true">
                            <span class="h4 inline-block texto">Nome Completo</span>
                            <input type="text" name="name" class="validate-required"><br/> <br/>
                            <span class="h4 inline-block">E-mail</span>
                            <input type="email" name="email"
                                class="validate-required validate-email"><br/><br/>
                            <span class="h4 inline-block">Telefone</span>
                            <input type="tel" name="Phone" class="validate-required"><br/><br/>
                            <span class="h4 inline-block">Assunto</span>
                            <div class="input-select">
                                <select class="validate-required">
                                    <option selected="" value="">Selecione</option>
                                    <option value="Sugestao">Sugestão</option>
                                    <option value="Duvida">Dúvida</option>
                                    <option value="Reclamacao">Elogio / Reclamação</option>
                                </select>
                            </div><br/><br/>
                            <span class="h4 inline-block">Mensagem</span><br/>  
                            <input type="text" name="Date" class="validate-required" id="msg"> <br/><br/>
                            <div>
                                <button type="submit" id="btnenviar" class="btn btn--primary type--uppercase">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>