<div class="main-container">
    <section class="cover height-80 imagebg text-center" data-overlay="3">
        <div class="background-image-holder" style="background: url('assets/img/knowledge-1.jpg')">
            <img alt="background" src="assets/img/knowledge-1.jpg">
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-10">
                    <h1>
                        Oferta e Procura de Vagas e Cursos.
                    </h1>
                    <p class="lead">
                        Joplins proporciona um jeito simples para você divulgar ou encontrar uma vaga de seu aspecto.
                        Além disso Joplins possui cursos aonde você pode dar um UP no seu CV.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg--secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <h2>O que faz a Joplins diferente ?</h2>
                    <p class="lead">
                        Aqui está uma rápida <i>overview</i> dos diferenciais da Joplins.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                        <i class="icon icon--lg icon-Bicycle"></i>
                        <h4>Preços Mais Acessiveis</h4>
                        <p>
                            Divulgue sua vaga a um custo mais em conta. Joplins possui assinaturas acessíveis as pequenas, médias e grande empresas.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                        <i class="icon icon--lg icon-Coffee-Machine"></i>
                        <h4>Economia aos Candidatos</h4>
                        <p>
                            Busque uma vaga sem gastar com isso. Joplins oferece serviços de busca de vagas de forma gratiuita para os candidatos.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                        <i class="icon icon--lg icon-Laptop-3"></i>
                        <h4>App Mobile</h4>
                        <p>
                            Estude quando e onde quiser. Joplins porporciona um jeito simples para você se aperfeiçoar, capacitar e atualizar-se.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>