<section class="home-bg h-100vh" id="home">
  <div class="bg-overlay"></div>
  <div class="home-table">
    <div class="home-table-center">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="text-white text-center">
                      <div class="small_title">
                          <p class="text-uppercase mb-0">WELCOME</p>
                      </div>
                      <h1 class="header_title mx-auto mt-3 mb-0 font-weight-bold">Joplins Agency<span class="header_title mx-auto mt-3 mb-0"> & Solution</span></h1>
                      <div class="header_btn mt-3">
                          <a href="#" class="btn btn-white btn-rounded mr-3">Get Started</a>
                          <span class="mr-3">or</span>
                          <a href="https://www.youtube.com/watch?v=0Xr8uAZvqlc" class="mr-3 text-white learn_more video_home"><i class="mdi mdi-play"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="about">
    <div class="container">
        <div class="row vertical-content">
            <div class="col-lg-6">
                <div class="mt-3">
                    <img src="assets/images/about.png" alt="" class="img-fluid mx-auto d-block about-tween" style="transform: matrix(1, 0, 0, 1, -7.19286, 5.28571);">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section_title about_content mt-3">
                    <p class="small_title mb-1 text-custom text-uppercase">About Us</p>
                    <h2 class="font-weight-bold mx-auto section_header">Great Digital Agency <span class="font-300">Since 1980.</span></h2>
                    <div class="section_title_border">
                        <div class="f-border"></div>
                        <div class="f-border bg-custom"></div>
                        <div class="s-border"></div>
                        <div class="f-border bg-custom"></div>
                        <div class="f-border"></div>
                    </div>
                    <h5 class="pt-3 font-weight-bold text-capitalize mb-0">Perfact solution for small businesses!</h5>
                    <p class="sec_subtitle pt-3 text-muted">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime The standard chunk of those interested.</p>
                    <a href="#" class="btn btn-gradient mt-2">Read More <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Features -->
<section class="section">
    <div class="container">
        <div class="row" id="counter">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <p class="small_title mb-1 text-custom text-uppercase">Our Features</p>
                    <h2 class="font-weight-bold mx-auto section_header">Over <span class="features_count text-custom" data-count="989">112</span> <span class="text-custom">+</span> Successfull Complated Work & Still Counting.</h2>
                    <div class="section_title_border">
                        <div class="f-border"></div>
                        <div class="f-border bg-custom"></div>
                        <div class="s-border"></div>
                        <div class="f-border bg-custom"></div>
                        <div class="f-border"></div>
                    </div>
                    <p class="sec_subtitle pt-3 text-muted mx-auto">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="mt-3 features_box p-3 text-center">
                    <div class="features_icon">
                        <i class="mdi mdi-arrow-decision-outline text-white"></i>
                    </div>
                    <div class="features_desc mt-4 pt-2">
                        <p class="text-muted mb-0 text-capitalize">Devise Optimized</p>
                        <h6 class="font-weight-bold">Creative Design</h6>
                        <p class="text-muted mt-3 mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="#" class="mt-4 d-block">
                            <img src="images/next.png" alt="" class="img-fluid mx-auto d-block">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mt-3 features_box p-3 text-center">
                    <div class="features_icon">
                        <i class="mdi mdi-chemical-weapon text-white"></i>
                    </div>
                    <div class="features_desc mt-4 pt-2">
                        <p class="text-muted mb-0 text-capitalize">Responsive Everywhere</p>
                        <h6 class="font-weight-bold">SEO & Marketing</h6>
                        <p class="text-muted mt-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="#" class="mt-4 d-block">
                            <img src="images/next.png" alt="" class="img-fluid mx-auto d-block">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mt-3 features_box p-3 text-center">
                    <div class="features_icon">
                        <i class="mdi mdi-lock-pattern text-white"></i>
                    </div>
                    <div class="features_desc mt-4 pt-2">
                        <p class="text-muted mb-0 text-capitalize">Online Marketing</p>
                        <h6 class="font-weight-bold">Easy To Use & Edit</h6>
                        <p class="text-muted mt-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="#" class="mt-4 d-block">
                            <img src="images/next.png" alt="" class="img-fluid mx-auto d-block">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="col-lg-6 offset-lg-6 contact_img_bg">
                &nbsp;
            </div>
            <div class="col-lg-6 bg-light">
                <div class="services_bg_pad">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="section_title">
                                <p class="small_title mb-1 text-custom text-uppercase">Get In Touch</p>
                                <h2 class="font-weight-bold mx-auto section_header">Have Any Questions?</h2>
                                <div class="section_title_border">
                                    <div class="f-border"></div>
                                    <div class="f-border bg-custom"></div>
                                    <div class="s-border"></div>
                                    <div class="f-border bg-custom"></div>
                                    <div class="f-border"></div>
                                </div>
                                <p class="sec_subtitle pt-3 text-muted">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime</p>
                            </div>                                   
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-8">
                            <div class="mt-3 bg-white contact_form mx-auto rounded">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group mt-2">
                                                <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group mt-2">
                                                <input name="email" id="email" type="email" class="form-control" placeholder="Your email..."  required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group mt-2">
                                                <input type="text" class="form-control" id="subject" placeholder="Your Subject.."  required=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group mt-2">
                                                <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." required=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-right mt-2">
                                            <input type="submit" class="btn btn-gradient w-100 text-uppercase" value="Send Message">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</section>