<div class="main-container">

    <section class="height-100 imagebg text-center" data-overlay="4">
    
        <div class="background-image-holder" style="background: url(&quot;assets/img/inner-6.jpg&quot;); opacity: 1;">
            <img alt="background" src="assets/img/inner-6.jpg">
        </div>
    
        <div class="container pos-vertical-center">
    
            <div class="row">
    
                <div class="col-md-7 col-lg-5">
    
                    <h2>Acessar conta Joplins</h2>
    
                    <div class="form">
    
                        <input type="email" 
                                [(ngModel)]="login.email" placeholder="E-mail">
    
                        <input type="password" 
                                [(ngModel)]="login.password" placeholder="Senha">
    
                        <a class="btn block btn--primary-2 mt-4" (click)="login()">
                            <span class="btn__text type--uppercase">Entrar</span>
                        </a>
    
                    </div>
    
                    <span class="type--fine-print block p-1">Não tem conta ainda ?
                        <a href="/registrar">Criar conta</a>
                    </span>
    
                    <!-- <span class="type--fine-print block">Forgot your username or password?
                        <a href="page-accounts-recover.html">Recover account</a>
                    </span> -->

                </div>

            </div>

        </div>

    </section>

</div>