<div class="main-container">
    <section class="height-100 imagebg text-center" data-overlay="4">
        <div class="background-image-holder" style="background: url(&quot;assets/img/inner-6.jpg&quot;); opacity: 1;">
            <img alt="background" src="assets/img/inner-6.jpg">
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-7 col-lg-5">
                    <h2>Acessar conta Joplins</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="email" [(ngModel)]="login.email" placeholder="E-mail">
                            </div>
                            <div class="col-md-12">
                                <input type="password" [(ngModel)]="login.password" placeholder="Senha">
                            </div>
                            <div class="col-md-12">
                                <a class="btn block" (click)="login()">
                                    <span class="btn__text type--uppercase">Entrar</span>
                                </a>
                            </div>
                        </div>
                        <!--end of row-->
                    </form>
                    <span class="type--fine-print block">Não tem conta ainda ?
                        <a href="/registrar">Criar conta</a>
                    </span>
                    <!-- <span class="type--fine-print block">Forgot your username or password?
                        <a href="page-accounts-recover.html">Recover account</a>
                    </span> -->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>